<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <a href="/home"><h1>HOME</h1></a>
    <a href="/produtos/list"><h1>PRODUTOS</h1></a>
    <a href="/vendas/list"><h1>VENDAS</h1></a>
    <a href="/vendas/carrinho/"><h1><p th:text="${'CARRINHO ['+session.venda.getItensVenda.size}+']'"> a</p></h1></a>
    
<style>
    table td input{
        text-align: center;
    }
    table td button{
        width:100%;
    }
    table td {
        text-align: center;
    }
</style>
<script>
    
</script>


<table class="table" border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Data</th>
        <th>Total</th>
        <th colspan="2">Ações</th>
    </tr>
    </thead>
    <tr th:each="venda : ${vendas}">

        <form method="GET" th:action="'detalhes/'+${venda.getId}">
        <td> <input type="text" th:value="${venda.getId()}" readonly> </td>
        <td> <input type="text" th:value="${venda.getData()}" readonly></td>
        <td> <input type="text" th:value="${venda.total()}" readonly> </td>
        <td> <input type="submit" id="alterar" value="Detalhar"> </td>
        </form>
        
<!--        <td> <button onclick="excluirProduto(this)" id="excluir" url="">Excluir</button></td>-->



    </tr>
    <tr>
        <form method="GET" action="" id="form-create" >
            <td> * </td>
            <td><input type="text" name="Data"></td>
            <td><input type="text" name="idade"></td>
            <td colspan="2"><button onclick="adicionaProduto()"> Adicionar </button> </td>
        </form>
    </tr>
</table>

</body>
</html>
